.addRestaurantFirstDiv {
    display: inline-block;
    width: 55%;
    text-align: left;
    padding: 0 60px 0 30px;
}

.addRestaurantSecondDiv {
    display: inline-block;
    width: 45%;
    text-align: left;
    vertical-align: top;
    padding-right: 20px;
}

.addRestaurantFormLabels {
    letter-spacing: 1px;
    font-size: 120%;
    font-style: italic;
}

.addRestaurantLabels {
    margin-bottom: 5px;
}

.addRestaurantSteps {
    background-color: gainsboro !important;
    width: 50%;
    margin: 0 auto 10px auto;
}

.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    font-size: 130%;
    margin-top: 5px !important;
}

.ui.selection.dropdown {
    min-width: 70px;
}

.addRestaurantButton {
    margin: 20px 10px 0 10px;
}

.addRestaurantAddressList {
    max-height: 350px;
    overflow-y: auto;
    width: 50%;
}

.addRestaurantIcon {
    font-size: 150%;
    margin-left: 25px;
}

.newAddressForm {
    width: 60%;
}

.newAddressButtons {
    width: 60%;
    text-align: center;
}

.newAddressConfirmButton {
    margin: 0 10px 0 10px;
    background-color: green;
    border-color: green;
}

.newAddressConfirmButton:hover, .newAddressConfirmButton:disabled, .newAddressConfirmButton:focus {
    background-color: darkgreen !important;
    border-color: darkgreen !important;
}

.newAddressCancelButton {
    margin: 0 10px 0 10px;
    background-color: red;
    border-color: red;
}

.newAddressCancelButton:hover, .newAddressCancelButton:disabled, .newAddressCancelButton:focus {
    background-color: darkred !important;
    border-color: darkred !important;
}