.mainDiv {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
}

.centerDiv {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.buttons {
  color: black;
  background-color: #FFFF00;
  border: 1px inset black;
}

.spinner {
  margin-top: 20px;
}