.mainDiv {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
}

.centerDiv {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.buttons {
  color: white;
  background-color: black !important;
  border: 1px inset black;
  letter-spacing: 1px;
}

.buttons:hover {
  color: gold;
  background-color: black !important;
  border: 1px inset black;
  letter-spacing: 1px;
}

.spinner {
  color: white;
}

.swal2-styled.swal2-confirm {
  background-color: black;
  color: gold;
}

.MuiStepIcon-root.MuiStepIcon-completed, .MuiStepIcon-root.MuiStepIcon-active, .MuiCheckbox-colorSecondary.Mui-checked {
  color: black !important;
}