.mainDiv {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
}

.centerDiv {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.buttons {
  color: white;
  background-color: black !important;
  border: 1px inset black;
  letter-spacing: 1px;
}

.buttons:hover {
  color: gold;
  background-color: black !important;
  border: 1px inset black;
  letter-spacing: 1px;
}

.spinner {
  color: white;
}