.bookDateDiv {
    width: 62%;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.bookDateLabel {
    font-weight: bold;
    font-size: 170%;
    text-align: left;
    margin-bottom: 60px;
}

.bookDateFirstDiv {
    width: 45%;
    margin-right: 2%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.bookDateSecondDiv {
    text-align: right;
    width: 45%;
    margin-left: 2%;
    display: inline-block;
    height: 10px !important;
}

.css-1lmy46j-ClockWrapper, .css-1mn38ah-TopBar {
    background: gainsboro !important;
}

.css-1aty463-TopBar, .css-1nkra40-TopBar {
    color: black !important;
}

.bookDuration {
    font-size: 90%;
    text-align: center;
    margin: 10px 0 10px 0;
}

.bookDropdown {
    width: 30%;
}

.bookTablesDiv {
    width: 90%;
    margin: 20px auto 20px auto;
}

.bookSearchLabel {
    text-align: left;
    font-weight: bold;
    font-size: 115%;
    font-style: italic;
    margin-left: 1%;
}

.bookGridList {
    justify-content: center;
}

.bookGridListTile {
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    max-height: 150px;
    background-color: gainsboro;
}

.bookGridListTile:hover {
    cursor: pointer;
    background-color: darkgray;
}

.tableCapacityLabel {
    font-size: 110%;
    font-weight: bold;
    margin-top: 20% !important;
}

.tableNumberLabel {
    font-size: 120%;
    letter-spacing: 1px;
    font-weight: bold;
}

.bookMenuLabel, .bookSelectTable {
    padding-top: 50px;
    padding-left: 1%;
    text-align: left;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 1px;
}

.bookListGroupItem {
    margin-top: 25px;
    border: 3px solid darkgray;
    border-top: 0;
    border-bottom: 0;
}

.bookListGroup:hover {
    cursor: pointer;
}

.bookSelectFirstDiv {
    display: inline-block;
    width: 68%;
}

.bookSelectSecondDiv {
    display: inline-block;
    width: 28%;
    margin: 50px 0 0 4%;
    vertical-align: top;
}

.bookCartDiv {
    border: 3px inset darkgray;
    padding: 10px;
    text-align: left;
    font-size: 110%;
}

.cartLabel {
    text-align: center;
    font-weight: bold;
    font-size: 170%;
}

.cartDish {
    font-size: 110%;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.cartName {
    display: inline-block;
    width: 70%;
}

.cartPrice {
    display: inline-block;
    width: 20%;
    text-align: right;
}

.cartTrash {
    font-size: 125%;
    display: inline-block;
    width: 10%;
    text-align: right;
    color: darkred;
}

.cartTrash:hover {
    cursor: pointer;
}

.totalPriceLabel {
    font-size: 120%;
    font-weight: bold;
}

.cartPayment {
    color: darkred;
}

.bookButton {
    display: block;
    margin: 30px auto 10px auto;
    color: white;
    background-color: black !important;
    border: 1px inset black;
    letter-spacing: 1px;
    font-size: 120%;
}

.paypalButton {
    display: block;
    margin: 30px auto 10px auto;
    color: black;
    background-color: #ffc43a !important;
    border: 0;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 30px;
    font-size: 130%;
    padding: 20px 20px 0 20px;
}

.paypalButton:hover, .paypalButton:focus, .paypalButton:active, .paypalButton:disabled {
    color: black;
    background-color: #EFB62E !important;
}

.paypalIcon {
    color: darkblue;
    font-size: 120%;
    transform: translate(0, -4px);
}

.pay {
    display: inline-block;
    color: #003087;
    font-size: 120%;
}

.pal {
    display: inline-block;
    color: #029cdd;
    font-size: 120%;
}

.bookCartListGroup {
    max-height: 400px;
    overflow-y: auto;
}

.form-check-label {
    margin: 0 0 5px 15px;
}
