.loginImage {
    background-image: url("../assets/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 40px;
    height: 100%;
}

.loginMain {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
    padding: 20px;
    border: 1px inset white;
    border-radius: 25px;
    background-color: #DADADA;
    opacity: 0.94;
    box-shadow: 2px 4px #888888;
}

.labels {
    text-align: left !important;
}