.menu {
    margin-top: 60px;
    padding: 4px 6px 4px 0;
    display: inline-block;
    vertical-align: top;
    border: 2px inset grey;
    border-radius: 5px;
    background-color: gainsboro;
    opacity: 0.94;
    letter-spacing: 1px;
}