.profileImage {
    float: left;
    display: inline-block;
    font-size: 1000%;
}

.profileData {
    float: left;
    font-size: 150%;
    margin-left: 40px;
}

.label {
    font-size: 70%;
    font-style: italic;
    margin-bottom: 0 !important;
    font-weight: unset !important;
}

.profileText {
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.editIcon {
    float: right;
    font-size: 200%;
    margin-right: 20px;
}

.editIcon:hover {
    font-size: 220%;
}

.editButtonConfirm {
    margin-right: 10px;
    background-color: green;
}

.editButtonConfirm:hover, .editButtonConfirm:disabled, .editButtonConfirm:focus {
    background-color: darkgreen !important;
}

.editButtonCancel {
    margin-left: 10px;
    background-color: red;
}

.editButtonCancel:hover, .editButtonCancel:focus {
    background-color: darkred !important;
}

.validationMessages {
    text-align: left;
    font-size: 80%;
}