.image {
    background-image: url("../assets/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 40px;
    height: 100%;
}

.main {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border: 1px inset white;
    border-radius: 25px;
    background-color: #DADADA;
    opacity: 0.9;
    box-shadow: 2px 4px #888888;
}

.labels {
    text-align: left !important;
}

.icons {
    font-size: 160%;
    margin-right: 10px;
}

.bottom {
    display: inline-block;
    vertical-align: top !important;
}

.button {
    margin-top: 20px;
    color: black !important;
    background-color: yellow !important;
    border: 1px inset black !important;
}

.captcha {
    margin-right: 60px;
}