.reservationFirstDiv {
    display: inline-block;
    width: 48%;
    text-align: left;
    font-size: 110%;
    margin-left: 2%;
}

.reservationSecondDiv {
    display: inline-block;
    vertical-align: top;
    font-size: 110%;
    width: 44%;
    margin-left: 5%;
}

.reservationLabels {
    font-size: 105%;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}

.reservationContent {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.reservationMenuList {
    max-height: 500px;
    overflow-y: auto;
}

.reservationMenuItem {
    background-color: gainsboro;
    border: 0;
}

.reservationMenuName {
    display: inline-block;
    width: 70%;
    text-align: left;
}

.reservationMenuPrice {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.reservationStatusFinish {
    display: block;
    color: darkgreen;
    background-color: gainsboro;
    border: 0;
    padding-left: 0;
    font-size: 107%;
    letter-spacing: 1px;
    font-weight: bold;
}

.reservationStatusFinish:hover, .reservationStatusFinish:active, .reservationStatusFinish:focus {
    background-color: gainsboro;
    color: darkgreen;
    font-style: italic;
}

.reservationStatusCancel {
    display: block;
    color: darkred;
    background-color: gainsboro;
    border: 0;
    padding-left: 0;
    font-size: 107%;
    letter-spacing: 1px;
    font-weight: bold;
}

.reservationStatusCancel:hover, .reservationStatusCancel:active, .reservationStatusCancel:focus {
    background-color: gainsboro;
    color: darkred;
    font-style: italic;
}