.restaurantInactive {
    margin-bottom: 50px;
    color: darkred;
}

.sadIcon {
    font-size: 130%;
    margin: 0 15px 0 15px;
}

.restaurantInfo {
    width: 70%;
    margin: 50px auto 30px auto;
}

.infoFirstDiv {
    width: 55%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-style: italic;
}

.infoSecondDiv {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
}

.restaurantNameLabel {
    font-size: 300%;
    letter-spacing: 2px;
}

.restaurantDescriptionLabel {
    font-size: 130%;
    margin-top: 30px;
}

.restaurantAddressLabel {
    font-weight: bold;
    font-size: 140%;
    margin-top: 30px;
}

.restaurantHoursLabel {
    font-size: 140%;
    font-weight: bold;
}

.restaurantDays {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.restaurantHours {
    display: inline-block;
}

.restaurantReserve {
    text-align: left;
    margin-top: 30px;
}

.reserveButton, .reserveButton:disabled {
    background-color: unset;
    letter-spacing: 1px;
    font-size: 210%;
    font-weight: bold;
    -webkit-text-stroke-color: #202020;
    -webkit-text-stroke-width: 2px;
    border: 0;
    padding: 0;
}

.reserveButton:hover, .reserveButton:focus {
    background-color: unset;
    border: 0;
    -webkit-text-stroke-width: 1px;
}

.restaurantMenuLabel {
    font-size: 240%;
    margin-top: 80px;
    text-align: left;
}

.restaurantMenuFirstDiv {
    display: inline-block;
    text-align: left;
    width: 85%;
    font-style: italic;
    font-size: 110%;
}

.restaurantMenuSecondDiv {
    display: inline-block;
    text-align: right;
    width: 15%;
    vertical-align: top;
}

.restaurantMenuNameLabel {
    font-weight: bold;
    font-size: 150%;
}

.restaurantMenuPriceLabel {
    font-weight: bold;
    font-size: 160%;
    color: darkred;
}

.restaurantMenuItem {
    margin-top: 25px;
    border: 3px solid darkgray;
    border-top: 0;
    border-bottom: 0;
}