.userBreadcrumbs {
    padding-top: 25px;
    width: 67%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1%;
}

.breadcrumb {
    background-color: gainsboro;
    border: 2px inset grey;
    border-radius: 5px;
}