.userImage {
    background-image: url("../assets/userBackgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.userMenu {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.userContent {
    margin: 5px 1% 10px 2%;
    padding: 32px 15px 25px 15px;
    display: inline-block;
    border: 2px inset grey;
    border-radius: 5px;
    width: 48%;
    background-color: gainsboro;
    opacity: 0.94;
}
